<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<p id="text">Enter link to Wikipedia article</p>
<form th:action="@{/call}" method="get">
    <input type="url" id="wiki_link" name="wiki_link" class="w3-round-xlarge" th:name="url"><br>
    <input type="submit" value="Submit" id="submit_button" class="w3-button  w3-round-xlarge w3-green">
</form>
</body>
</html>